[submodule "BerdLabs"]
	path = BerdLabs
	url = https://github.com/TodePond/BerdLabs
[submodule "SandLab"]
	path = SandLab
	url = https://github.com/TodePond/SandLab
[submodule "LabLab"]
	path = LabLab
	url = https://github.com/TodePond/LabLab
[submodule "FishLab"]
	path = FishLab
	url = https://github.com/TodePond/FishLab
